@model IEnumerable<LogicaDeNegocio.Entidades.Resultado>

@{
    ViewData["Title"] = "Resumen";
}


<h2 class="text-center mb-4">Resultados</h2>
@if (Model != null)
{
    
@foreach (var resultado in Model)
{
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Año: @resultado.Anio</h3>
            <ul class="list-group">
                @foreach (var resultadoAnual in resultado.resultadoAnual)
                {
                    <li class="list-group-item">
                        Tipo @resultadoAnual.Movimiento – Cantidad: @resultadoAnual.Cantidad
                    </li>
                }
            </ul>
            <p class="mt-3">Total año @resultado.Anio : @resultado.CantidadAnual</p>
        </div>
    </div>
}
}
